{% extends "base.html" %}

{% block title %}{{ title }}{% end %}

{% block content %}
	<ol id="posts-list" class="hfeed">
		{% for blog in blogs %}
		<li>
			<article class="hentry" pubdate="{{ blog.published_time.strftime(date_format) }}">
				<div class="date-box">
					<div class="month">{{ handler.settings['months'][blog.published_time.month-1] }}</div>
					<div class="day">{{ blog.published_time.day }}</div>
					<div class="year">{{ blog.published_time.year }}</div>
				</div>
				<header><h2 class="entry-title"><a href="/{{ blog.slug }}" rel="bookmark" title="{{ blog.title }}">{{ blog.title }}</a></h2></header>
				<div class="entry-content">
					{{ handler.make_smile(blog.body) }}
				</div>
				<footer>
					<span style="float: left; font-weight: bold;">ტეგები:</span>
					<ul class="tags">
						{% for tag in blog.tags %}
						<li><a href="/tag/{{ tag }}" rel="tag">{{ tag }}</a></li>
						{% end %}
					</ul>
				<a href="/{{ blog.slug }}#comments" title="კომენტარები" style="font-weight: bold;">{{ blog.comments_count }} კომენტარი</a>
				</footer>
			</article>
		</li>
		{% end %}
	</ol>
	<nav id="nav_pages">
		{% if current_page > 1 %}
		<a href="{{ nav_path }}/page/{{ current_page-1 }}">ახალი პოსტები</a>
		{% end %}
		{% if has_next %}
		<a href="{{ nav_path }}/page/{{ current_page+1 }}">ძველი პოსტები</a>
		{% end %}
	</nav>
{% end %}
