{% set date_format = "%Y-%m-%dT%H:%M:%SZ" %}
<header>
	<h5>კომენტარები</h5>
</header>
<ul>
	{% for comment in comments %}
	<li>
		<article class="comment" pubdate="{{ comment.published.strftime(date_format) }}" style="background: #FFFFFF;">
			<a href="/{{ comment.entry.slug }}" title="{{ comment.entry.title }}">{{ comment.entry.title }}</a><br/>
			<span class="author" item="vcard">
				<a href="{{ comment.link }}" class="image-link avatar">
					<img src="http://www.gravatar.com/avatar/{{ comment.email_md5 }}?size=40" itemprop="photo" />
				</a>
				<div style="font-weight: bold; float: left; margin-right: 5px;">
					<a href="/{{ comment.entry.slug }}#{{ comment.key() }}" itemprop="url">{{ comment.name }}</a>
				</div>
			</span>
			{{ comment.comment[:50] }}...
		</article>
	</li>
	{% end %}
</ul>