{% extends "base.html" %}

{% block js %}
<script type="text/javascript" language="javascript">
(function() {
	var getTopTracks = function(period) {
		$.getJSON('/lastfm/api/toptracks', { period: period }, function(data) {
			var list = $('<ul />');
			$(data).each(function() {
				var item = $('<li />'),
					play_count = $('<span>' + this.play_count + ' </span>'),
					artist = $('<a href="' + this.artist_url + '" title="' + this.artist_name + '" target="new">' + this.artist_name + '</a>');
					track = $('<a href="' + this.url + '" title="' + this.name + '" target="new">' + this.name + '</a>');
				
				item.append(play_count, ' ', artist, ' - ', track);
				list.append(item);
			});
			$('#top-tracks').children().empty();
			$('#top-tracks').append(list).unblock();
		});	
	};
	
	var getTopAlbums = function(period) {
		$.getJSON('/lastfm/api/topalbums', { period: period }, function(data) {
			var list = $('<ul />');
			$(data).each(function() {
				var item = $('<li />'),
					play_count = $('<span>' + this.play_count + ' </span>'),
					artist = $('<a href="' + this.artist_url + '" title="' + this.artist_name + '" target="new">' + this.artist_name + '</a>'),
					track = $('<a href="' + this.url + '" title="' + this.name + '" target="new">' + this.name + '</a>');
				
				item.append(play_count, ' ', artist, ' - ', track);
				list.append(item);
			});
			$('#top-albums').children().empty();
			$('#top-albums').append(list).unblock();
		});	
	};
	
	var getTopArtists = function(period) {
		$.getJSON('/lastfm/api/topartists', { period: period }, function(data) {
			var list = $('<ul />');
			$(data).each(function() {
				var item = $('<li />'),
					play_count = $('<span>' + this.play_count + ' </span>'),
					artist = $('<a href="' + this.url + '" title="' + this.name + '" target="new">' + this.artist_name + '</a>');
				
				item.append(play_count, ' ', artist);
				list.append(item);
			});
			$('#top-artists').children().empty();
			$('#top-artists').append(list).unblock();
		});	
	};
	
	$(function() {
		getTopTracks('overall');
		getTopAlbums('overall');
		getTopArtists('overall');
		
		$('.top-tracks-period a').click(function() {
			$('#top-tracks').block();
			getTopTracks(this.title);
			return false;
		});
		
		$('.top-albums-period a').click(function() {
			$('#top-albums').block();
			getTopAlbums(this.title);
			return false;
		});
		
		$('.top-artists-period a').click(function() {
			$('#top-artists').block();
			getTopArtists(this.title);
			return false;
		});
	});
})();
</script>
{% end %}

{% block content %}
<ul class="top-tracks-period">
	<li style="float: left; padding-right: 10px;"><a href="#" title="7day">7 დღე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="3month">3 თვე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="6month">6 თვე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="12month">12 თვე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="overall">სრული</a></li>
</ul>
<div id="top-tracks" class="clear"></div>

<ul class="top-albums-period">
	<li style="float: left; padding-right: 10px;"><a href="#" title="7day">7 დღე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="3month">3 თვე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="6month">6 თვე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="12month">12 თვე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="overall">სრული</a></li>
</ul>
<div id="top-albums" class="clear"></div>

<ul class="top-artists-period">
	<li style="float: left; padding-right: 10px;"><a href="#" title="7day">7 დღე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="3month">3 თვე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="6month">6 თვე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="12month">12 თვე</a></li>
	<li style="float: left; padding-right: 10px;"><a href="#" title="overall">სრული</a></li>
</ul>
<div id="top-artists" class="clear"></div>
{% end %}